<ng-container [formGroup]="parentFormGroup" *ngIf="parentFormGroup">
    <app-layout-field [parentFormGroup]="parentFormGroup" [control]="control" [labelTop]="labelTop">
      <label>{{ label }}</label>
      <input type="number" [formControlName]="name" placeholder="'Insert number...'"  />
    </app-layout-field>
  </ng-container>
