<ng-container [formGroup]="parentFormGroup" *ngIf="parentFormGroup">
    <app-layout-field [parentFormGroup]="parentFormGroup" [control]="control" [labelTop]="labelTop">
      <label>{{ label }}</label>
      <select class="custos-select" [formControlName]="name">
        <option value="" disabled>Choose item...</option>
        <option *ngFor="let item of listItems" [ngValue]="item.value">{{item.desc}}</option>
     </select>
    </app-layout-field>
</ng-container>
  
