<h1>Examples Dialog with components</h1>
<app-form (onAccept)="valueForm = $event" [validations]="validationsInOtherGroup('texttest-other','text-group-other',null,'mygroup')">
  <ng-container [formGroup]="group" *formg="let group">
    <div class="flex flex-column">
    <app-text-field [name]="'texttest'" [label]="'text test'" ></app-text-field>
    <app-text-field [name]="'texttest-other'" [label]="'text test other *'" [validations]="validations" ></app-text-field>
    <app-group-field [name]="'mygroup'" [columnFields]="true" [validations]="validationsGroup('text-group','text-group-other')">
      <ng-container [formGroup]="group2" *formg="let group2">
        <app-text-field [name]="'text-group'" [label]="'text group'"  [validations]="validations"></app-text-field>
        <app-text-field [name]="'text-group-other'" [label]="'text group other'" ></app-text-field>
        <app-complex-field [name]="'complexfield'" [label]="'complex field'" (onChange)="valueSelectComplex=$event" class="m-1"></app-complex-field>
        <app-complex2-field [name]="'complexfield2'" [label]="'complex field 2'" (onChange)="valueSelectComplex=$event" class="m-1"></app-complex2-field>
        <app-email-field [name]="'email'" [label]="'Email *'" ></app-email-field>
        <app-group-field [name]="'mygroup2'" class="flex flex-wrap" [validations]="validationsInGroup('text-group-other','text-group-other-2','text-group-other-3')">
          <ng-container [formGroup]="group3" *formg="let group3">
            <app-text-field [name]="'text-group-other'" [label]="'text test other'" class="w-6"></app-text-field>
            <app-text-field [name]="'text-group-other-2'" [label]="'text test other 2'" class="w-6"></app-text-field>
            <app-text-field [name]="'text-group-other-3'" [label]="'text test other 3'" class="w-6"></app-text-field>
            <app-select-field
              [name]="'myselect'"
              [label]="'My select *'"
              [listItems]="[
                { value: '1', desc: 'desc 1' },
                { value: '2', desc: 'desc 2' },
                { value: '3', desc: 'desc 3' }
              ]"
              (onChange)= "updateData($event)"
              [validations]="validations"
              class="w-6"
            ></app-select-field>
            <app-select-field
              [name]="'myselect 2'"
              [label]="'My select 2 *'"
              [listItems]="(dataSelect$ | async)"
              [value]="'22'"
              (onChange)= "valueSelect= $event"
              
              class="w-6"
            ></app-select-field>
          </ng-container>
        </app-group-field>
      </ng-container>
    </app-group-field>
    <app-group-field [name]="'lastgroup'"  class="flex flex-wrap">
      <ng-container [formGroup]="group4" *formg="let group4">
        <app-text-field [name]="'text-group-last'" [label]="'last '" [value]="'Value last'"  class="w-6" [labelTop]="true"></app-text-field>
        <app-text-field [name]="'text-group-last-2'" [label]="'last 2'"  class="w-6" [labelTop]="true"></app-text-field>
        <div class="w-12 flex justify-content-center" >
          <app-number-field [name]="'number field'" [label]="'Number field'" [value]="10" class="w-6"></app-number-field>
          <app-text-field [name]="'text-group-last-cent'" [label]="'last 3'"  class="w-6"  [value]="'center field'"></app-text-field>
        </div>
      </ng-container>
    </app-group-field>
  </div>
  </ng-container>
</app-form>

<h3>Change list:</h3>
{{ valueSelect | json }}

<h3>Change complex list:</h3>
{{ valueSelectComplex | json }}


<h3>Value Form</h3>
{{ valueForm | json }}
