<ng-container [formGroup]="parentFormGroup" *ngIf="parentFormGroup">
  <app-layout-field [parentFormGroup]="parentFormGroup" [control]="control" [labelTop]="labelTop">
    <label>{{ label }}</label>
    <input type="text" [formControlName]="name" placeholder="'Insert ...'"  />
  </app-layout-field>
</ng-container>
